.titulo {
    color: rgb(168, 33, 33);
    font-weight: bold;
    font-size: 100px;
    text-shadow:
        -1px -1px 0 rgba(255, 255, 255, 0.838),
        1px -1px 0 rgba(255, 255, 255, 0.64),
        -1px 1px 0 rgba(54, 54, 54, 0.4),
        1px 1px 0 rgba(0, 0, 0, 0.4);
}


.destaque {
    color: rgb(168, 33, 33);
}

.footername {
    color: rgb(233, 232, 232);

}

.center-page {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: relative;
    bottom: 0;
    width: 100%
}

.messageOne {

    color: rgb(168, 33, 33);
    font-weight: bold;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.400),
        1px -1px 0 rgba(0, 0, 0, 0.400),
        -1px 1px 0 rgba(0, 0, 0, 0.400),
        1px 1px 0 rgba(0, 0, 0, 0.400);
}

.messageTwo {
    text-decoration-line: none;
    color: rgb(254, 254, 254);
    font-weight: lighter;
}

body.layout-2 {
    background: linear-gradient(0deg, #faf2e2b0, #f5f0ea, #faf2e2b7);
}

body.layout-3 {
    background: linear-gradient(0deg, #faf2e2b0, #f5f0ea, #faf2e2b7);
}

body.layout-4 {
    background: linear-gradient(0deg, #faf2e2b0, #f5f0ea, #faf2e2b7);
}

.bitrash3 {
    color: darkred;
}

.bipencil {
    color: rgb(5, 80, 5);
}

.card_Socio {
    background: linear-gradient(0deg, #ffffff3b, #a9f3ae45, #ffffff45);

}

.trainSelect {
    background: radial-gradient(circle, #a9f3ae56, #ffffff65);
}

.nutiSelect {
    background: radial-gradient(circle, #a9f3ae56, #ffffff65);
}

.card1 {
    background: linear-gradient(0deg, #ffffff8f, #a9f3ae22, #ffffff77);
}

.SocioHome {
    background: radial-gradient(circle, #a9f3ae56, #ffffff65);
}

.nutpesq {
    background: radial-gradient(circle, #def2df56, #ffffff65);
}

.pTpesq {
    background: radial-gradient(circle, #def2df56, #ffffff65);
}

.colpesq {
    background: radial-gradient(circle, #def2df56, #ffffff65);
}

.socpesq {
    background: radial-gradient(circle, #def2df56, #ffffff65);
}

.bCheck {
    color: rgb(13, 159, 13);
}
